@charset "UTF-8";
html {
	background: url("../BACKGROUND.png") no-repeat center fixed;
}

body img#nha1 {
	position: relative;
	left: 40%;
	top: 0px;
	opacity: 0;

}

body img#nha1:hover {
	opacity: 1;
}

body img#nha2 {
	position: relative;
	left: 37%;
	top: 390px;
	opacity: 0;


}

body img#nha2:hover {
	opacity: 1;
}

body img#sad {
	position: relative;
	width : 50px;
	weight :  50px;
	left: -60%;
	top: 396px;
}
